<%= component "notice", text: notice %>
<%= component "card", title: @post.title, body: @post.body, item: @post %>

<div>
  <%= component "link", text: 'edit', path: edit_post_path(@post) %>
  <%= component "link", text: 'index', path: posts_path %>
  <%= component "button", text: 'delete', path: post_path %>
</div>
